input[type='submit'], button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"]{
  background: #482ACF;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #000;
  transition: 300ms ease all;
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
input[type='text'] {
  background: #6874E8;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
}
