form {
  width: 100%;

}
.block {
  display: block;
}
textarea, input[type='text'] {
/*   font-size: 14px;
 */
  margin: 20px;
  border: 1px solid #372248;
  transition: 300ms ease all;
  outline: none;
  padding: 20px;
  margin-bottom: 20px;
}

textarea:focus, input[type='text']:focus {
  border: 1px solid #3F7D20;
}

textarea {
  min-height: 250px;
}

label {
  margin: 20px;
/*   font-weight: bold;
 */}
.select {
  margin: 20px;
  height: 30px;
}
