.main-header {
  width: 100%;
  padding: 60px;
  background: url('/images/elk.jpg');
}

.main-nav {
  a {
/*     color: darken($drkblue, 35);
 */    font-size: 22px;
    margin-right: 20px;
    border-bottom: none;
  }
}
header {
  margin-top: -40px;
  text-align: center;
}
