html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}
article a {
  padding: 5px;
  line-height: 1em;
}
article {
  display: block;
  float: left;
  height: 25px;

}
p {
  margin-bottom: 1.3em;
  padding-left: 10px;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h5, h6 {
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
  margin-left: 40px;
}

h3 {font-size: 1.563em;}

h4 {
  font-size: 1.25em;
  text-align: center;
}

small, .font_small {font-size: 0.8em;}

ul {
  list-style: circle;
}

table {
  width: 100%;
}

thead {
  text-align: left;
  font-weight: bold;
}

tr:nth-of-type(even) {
  background: rgba(000,000,000,0.3);
}

blockquote {
  padding-left: 60px;
  border-left: #24227F solid 20px;
  margin-bottom: 20px;
}

a {
  margin: 5px;
  border-radius: 3px;
  padding: 7px 10px;
  color: #24227F;
  text-decoration: none;
  border-bottom: 1px solid #24227F;
  transition: 300ms ease all;

}
.login {
  margin-top: 20px;
  margin-left: 40px;
  color: white;
  background: #482ACF;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #000;
  transition: 300ms ease all;
}

/* a {
  background: #000;
padding: 5px 25px;  color: #00B7FF;
} */
/* a:visited, a:hover {
  border-bottom: 1px solid #3F7D20;
  color: #fff;
  background: #3F7D20;
}
 */
 h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

section .key-selection {
  float: left;
  margin: 10px;
  display: block;
}
section {
  margin-left: 45px;
}

key-selection:after {

  clear: both;
  visibility: hidden;clear: both;
  visibility: hidden;
}

.abctext {
  font-size: 14px;
  margin-left: -20px;
}
.abcrendered {
  margin-left: 40px;
}
.notation {
  width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .key {
    float: left;
    border-radius: 65px;
    padding: 7px 20px;
    background: #24227F;
    margin: 4px;
    display: block;
    font-size: 12px;
}
key:after {
  clear: both;
  visibility: hidden;
}
  a:hover {
    color: #fff;
    background: #72B01D;
  }
.show {
  padding: 40px;
}

.display {
  margin-left: 150px;

}
.name {
  margin: 20px;
  margin-top: 10px;
  display: block;
  padding: 10px;
}
span {
  color: #482ACF;
}
