html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}
article a {
  padding: 5px;
  line-height: 1em;
}
article {
  width: 100%;
  display: block;
  float: left;
  height: 25px;

}
p {
  font-size: 0.7em;
  line-height: .2em;
  margin-bottom: 1.3em;
  padding-left: 10px;
}

h1, h2, h3, h4 {
/*   margin: 1.414em 0 0.5em;
 */  font-weight: inherit;
  line-height: 1.2;
}

h5, h6 {
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {
  margin: 0;
  font-size: 1.953em;
/*   margin-left: 40px;
 */}

h3 {font-size: 1.563em;}

h4 {
  margin: 0;
  font-size: 1.25em;
  text-align: center;
}

small, .font_small {font-size: 0.8em;}

ul {
  list-style: circle;
}

table {
  width: 100%;
}

thead {
  text-align: left;
  font-weight: bold;
}

tr:nth-of-type(even) {
  background: rgba(000,000,000,0.3);
}

blockquote {
  padding-left: 60px;
  border-left: #24227F solid 20px;
  margin-bottom: 20px;
}

a {
  margin: 5px;
  border-radius: 3px;
  padding: 7px 10px;
  color: #24227F;
  text-decoration: none;
  border-bottom: 1px solid #24227F;
  transition: 300ms ease all;

}

 h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

  a:hover {
    color: #fff;
    background: #72B01D;
  }

span {
  color: #482ACF;
}
.aliases {
  float: left;
  border: 1px solid black;
  width: 20%;
  min-height: 100px;
  word-wrap: normal;
  display: block;
  font-size: .9em;
  line-height: 1.3em;
  padding: 10px;
  margin: 35px;
  margin-top: 50px;
}
.aliases:after {
  content: "";
  display: table;
  clear: both;
}
