body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p {
  padding-left: 10px;
}
textarea {
  font-size: 14px;
}
.col-half {
  width: 45%;
  padding: 5px;
}
